services:
  backend:
    build: ./backend
    ports:
      - "8088:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/src:/app/src
      - ./backend/database.sqlite:/app/database.sqlite
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "5999:3000"
    env_file:
      - ./frontend/.env
    environment:
      - BUN_PUBLIC_BACKEND_URL=http://localhost:8088
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/app/src
    restart: unless-stopped


