services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/src:/app/src
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "5173:3000"
    env_file:
      - ./frontend/.env
    environment:
      - BUN_PUBLIC_BACKEND_URL=http://localhost:8000
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/app/src
    restart: unless-stopped


