services:
  backend:
    build: ./backend
    ports:
      - "8000:3000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/src:/app/src
      - ./backend/.env:/app/.env
      - /app/node_modules

  frontend:
    build: ./frontend
    ports:
      - "5173:3000"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/.env:/app/.env
      - /app/node_modules


